# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Debug binaries
__debug*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

build/
errors.log
messages.log

# Go workspace file
go.work
go.work.sum

# env file
.env

